.heading{
    color: yellow;
box-shadow: 5px 5px 10px grey;
margin: 0px;
width: 110%;
font-size:x-large;
}
.note{
    text-align: left;
    color: black;
    font-size: medium;
}
.copy_right_footer{
  color: grey;
  background-color:cyan ;
  width: 100%;
  line-height: 3;
  bottom: 0;
}
canvas{
    border: 5px double orangered;
    border-radius: 30px;
    box-shadow: 6px 6px 6px goldenrod;
    


}
